section#portfolio.p-0
  .container-fluid
    .row.no-gutter.popup-gallery
      .col-lg-4.col-sm-6(*ngFor='let project of projects')
        a.portfolio-box(routerLink='{{project.url}}')
          img.img-fluid([src]='project.thumbnail', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded {{project.category}}
              .project-name {{project.name}}