section#portfolio.p-0
  .container-fluid
    .row.no-gutter.popup-gallery
      .col-lg-4.col-sm-6
        a.portfolio-box(href='img/portfolio/fullsize/1.jpg')
          img.img-fluid(src='img/portfolio/thumbnails/1.jpg', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded Category
              .project-name Project Name
      .col-lg-4.col-sm-6
        a.portfolio-box(href='img/portfolio/fullsize/2.jpg')
          img.img-fluid(src='img/portfolio/thumbnails/2.jpg', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded Category
              .project-name Project Name
      .col-lg-4.col-sm-6
        a.portfolio-box(href='img/portfolio/fullsize/3.jpg')
          img.img-fluid(src='img/portfolio/thumbnails/3.jpg', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded Category
              .project-name Project Name
      .col-lg-4.col-sm-6
        a.portfolio-box(href='img/portfolio/fullsize/4.jpg')
          img.img-fluid(src='img/portfolio/thumbnails/4.jpg', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded Category
              .project-name Project Name
      .col-lg-4.col-sm-6
        a.portfolio-box(href='img/portfolio/fullsize/5.jpg')
          img.img-fluid(src='img/portfolio/thumbnails/5.jpg', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded Category
              .project-name Project Name
      .col-lg-4.col-sm-6
        a.portfolio-box(href='img/portfolio/fullsize/6.jpg')
          img.img-fluid(src='img/portfolio/thumbnails/6.jpg', alt='')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-fadedCategory
              .project-name Project Name
